.navbar-container {
  z-index: 9999;
  top: 0;

  position: sticky;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #302f2c;
  color: white;
}

.navbar-languageBar {
  display: flex;
  justify-content: space-evenly;
  padding: 0.2rem 0;
  background-color: #111;
  font-size: 0.8rem;
}

.navbar-language {
  margin: 0 0.625rem;
  color: white;
  text-decoration: none;
}

.navbar-language:hover {
  text-decoration: underline;
}

.navbar-mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 1.25rem;
  position: relative;
}

.navbar-leftSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 30%;
}

.navbar-searchBar {
  display: flex;
  align-items: center;
  background-color: #444;
  border-radius: 5px;
  padding: 0.5rem;
  position: absolute;
  left: 1rem;
  top: 3rem;
  width: auto;
  transition: all 0.3s ease-in-out;
}

.navbar-searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-searchWrapper span {
  padding-left: 1rem;
}

.navbar-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-searchInput {
  margin-left: 0.5rem;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: white;
  outline: none;
  width: 12rem;
}

.navbar-searchButton {
  background: linear-gradient(to right, #444, #222);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.navbar-searchButton i {
  color: white;
  font-size: 1rem;
}

.navbar-centerSection {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding-left: 3rem;
  gap: 1rem;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  white-space: pre-line;
  line-height: 1;
  text-align: left;
}

.navbar-rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  width: 30%;
}

.navbar-menuButton {
  position: relative;
  z-index: 1000;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.navbar-accessibilityIcon {
  cursor: pointer;
  font-size: 1.5rem;
}
.navbar-accessibilityDropdown {
  display: flex;
  justify-content: space-between;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #eee9e0;
  padding: 1.5rem;
  color: black;
  z-index: 1000;
  height: auto;
}

.navbar-accessibility-left {
  display: flex;

  flex-direction: column;
  width: 20%;
}

.navbar-accessibilityTitle {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: black;
}

.navbar-accessibilityReset {
  color: black;
  background-color: #fff;
  border: none;
  padding: 0.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  width: 30%;
  border-radius: 4px;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

.navbar-accessibilityReset:hover {
  background-color: #ddd;
}
.navbar-accessibility-right {
  width: 80%;

  display: flex;
  justify-content: end;
}

.navbar-accessibilityGrid {
  margin-right: 5rem;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.navbar-accessibilityGrid > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-accessibilityGrid h3 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: black;
  font-weight: 600;
}

.navbar-accessibilityGrid button {
  background-color: #fff;
  color: #111;
  width: 6rem;
  border: none;
  padding: 0.3rem 0.75rem;
  font-size: 0.7rem;
  cursor: pointer;
  border-radius: 4px;
  margin: 0.3rem 0;
}

.navbar-accessibilityGrid button:hover {
  background-color: #ddd;
}

.navbar-accessibilityClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #666;
  font-weight: bold;
}

.navbar-accessibilityClose:hover {
  color: #e63946;
}

.navbar-donateButton {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navbar-donateButton:hover {
  background-color: #c72535;
}

.navbar-dropdown {
  position: fixed;

  height: auto;

  left: 50%;
  transform: translateX(-50%);
  width: 40%;

  background-color: #302f2c;
  padding: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.navbar-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  height: auto;
}

.navbar-socialIcons {
  display: flex;
  gap: 1.5rem;
}

.navbar-socialIcons a {
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-socialIcons a:hover {
  color: #e63946;
}

.navbar-footer .navbar-donateButton {
  height: auto;
  background-color: #e63946;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;

  cursor: pointer;
}

.navbar-footer .navbar-donateButton:hover {
  background-color: #c72535;
}

.navbar-menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
}
.navbar-menuList:hover {
  color: white;
}

.navbar-menuList li {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.navbar-menuList li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.navbar-itemTitle {
  font-size: 0.8rem;
  font-weight: bold;
  color: #c9c8c8;
  text-align: left;
}
.navbar-itemTitle:hover {
  color: white;
}

.navbar-itemDesc {
  color: #969694;
  font-size: 0.8rem;
  text-align: start;
}
.navbar-itemDesc:hover {
  color: white;
}

.navbar-itemArrow {
  color: white;
  text-align: right;
}

.navbar-languagesRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  height: auto;
}

.navbar-langButton {
  background-color: #444;
  color: white;
  border: none;
  padding: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.navbar-langButton:hover {
  background-color: #555;
}

.search-mobile-div {
  position: fixed;

  z-index: 9999;
  display: none;
  cursor: pointer;
  width: 100%;
  min-height: 0;
  height: auto;
}
.inside-search-mobile-div {
  position: absolute;
  background-color: #999999;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
  min-height: 0;
  height: auto;
}
.navbar-searchInput2 {
  z-index: 1000;
  height: auto;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border: 1px solid #ffce40;
  background-color: #444;
  color: white;
  outline: none;
}

@media (max-width: 1024px) {
  .navbar-languageBar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.3125rem 0;
    background-color: #111;
    font-size: 0.3rem;
  }
  .navbar-leftSection {
    width: 15%;
  }
  .navbar-centerSection {
    display: flex;
    justify-content: center;
    width: 65%;
  }
  .navbar-centerSection .navbar-title {
    font-size: 1.3rem;
  }
  .navbar-accessibility-right {
    width: 20%;
  }
  .navbar-searchInput {
    width: 8rem;
  }
}

@media (max-width: 680px) {
  .navbar-dropdown {
    padding: 0.2rem;
    background-color: #222222;
  }

  .navbar-languageBar,
  .navbar-accessibilityIcon,
  .navbar-rightSection .navbar-donateButton {
    display: none;
  }
  .navbar-container {
    height: auto;
  }

  .navbar-mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
  }

  .navbar-leftSection {
    width: 10%;
  }

  .navbar-searchWrapper span {
    display: none;
  }

  .navbar-searchWrapper input {
    display: none;
  }

  .navbar-searchWrapper.searchOpen input {
    display: block;
    flex: 1;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #222;
    color: #fff;
    outline: none;
  }

  .navbar-searchWrapper.searchOpen .navbar-icon {
    font-size: 1.2rem;
    color: #fff;
  }

  .navbar-centerSection {
    padding-left: 2rem;
    position: relative;
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  }

  .navbar-menuButton {
    position: absolute;
    right: 0;
  }
  .navbar-menuButton span {
    display: none;
  }

  .navbar-centerSection .navbar-title {
    font-size: 1rem;
    text-align: left;
    line-height: 1.2;
  }

  .navbar-rightSection {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-dropdown {
    width: 100%;

    overflow-y: auto;
  }
  .navbar-footer {
    padding: 1rem;
  }
  .navbar-footer .navbar-donateButton {
    width: 0.6rem;
    font-size: 0.5rem;
  }
  .navbar-socialIcons a {
    font-size: 1rem;
  }

  .navbar-menuList {
    width: 100%;
  }
  .navbar-itemTitle {
    font-size: 0.8rem;
  }
  .navbar-itemDesc {
    display: none;
  }

  .navbar-languagesRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  .navbar-langButton {
    width: 30%;
    text-align: center;
  }

  .navbar-socialIcons {
    font-size: 0.5rem;
    justify-content: center;
  }

  .navbar-footer .navbar-donateButton {
    width: 4rem;

    text-align: center;
  }
  .navbar-searchWrapper.searchOpen input {
    display: none;
  }
  .search-mobile-div {
    display: block;
  }
}
