.categorypageWrapper {
  text-align: left;
  padding: 0;
}
.categorypageHeader {
  background: #eee9e0;
  padding-bottom: 5rem;
  position: relative;
  height: auto;
}
.categorypagebacktohome{
  font-size: 0.8rem;
  text-decoration: underline;
}

.categorypageHeaderInner {
  width: auto;
  margin: 0 auto;
  padding: 2rem 1.5rem 0;
  height: auto;
}

.categorypageTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  height: auto;
  color: #202020;
}

.categorypageFloatingSearchBox {
  position: absolute;
  width: 100%;
  bottom: -2.5rem;
  border-radius: 12px;
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.categorypageSearchWrapper {
  display: flex;
  align-items: center;
  background: white;

  padding: 0.75rem 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  width: 60%;
}

.categorypageSearchIcon {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.categorypageSearchInput {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background: transparent;
}

.categorypageSelect {
  cursor: pointer;

  background: white;

  border: none;
  width: 10rem;
}
.categorypageSelectDiv {
  padding: 0.75rem;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.categorypageSelect option {
  font-size: 1.1rem;
  color: #222;
  padding: 0.25rem;
}

.categorypagePostCountDiv {
  padding: 2rem;
}
.categorypagePostCount {
  font-size: 0.9rem;
  color: #222;
  text-align: center;
}

.categorypageGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);

  padding: 1rem;
}

.categorypageCard {
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categorypageimagewrapper {
  position: relative;
  width: 100%;
  height: auto;

  overflow: hidden;
}

.categorypageImage {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}


.categorypageCategory {
  padding-top: 0.4rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.categorypageHeading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.categorypageMeta {
  font-size: 0.8rem;
  color: #626262;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.categorypageMetaAuthor {
  text-decoration: underline;
}

.categorypageExcerpt {
  font-size: 0.85rem;
  color: #6d6d6d;
  letter-spacing: 0.03em;
}

.categorypagePagination {
  display: flex;
  justify-content: center;
  margin: 3rem 0 5rem;
}

.categorypagePaginationList {
  border: 1px solid #eee9e0;
  display: flex;
  list-style: none;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

.categorypagePageItem {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  color: #222;
  background: #fff;
  border-right: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.categorypagePageItem:last-child {
  border-right: none;
}

.categorypageActive {
  background: #302f2c;
  color: #fff;
  font-size: 0.8rem;
}

.categorypageNextLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 680px) {
  .categorypagebacktohome{
    margin: 1rem;
    
  }
  .categorypageHeader {
    padding-bottom: 1rem;
  }

  .categorypageFloatingSearchBox {
    position: static;
    bottom: auto;
    width: 100%;
    margin: 1rem auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .categorypageTitle {
    font-size: 1.8rem;
  }

  .categorypageSearchWrapper {
    width: 90%;
    border-radius: 10px;
  }

  .categorypageSelectDiv {
    width: 90%;
    padding: 0.75rem 1rem;
    border-radius: 10px;
  }
  .categorypageSelect {
    width: 100%;
  }

  .categorypagePostCountDiv {
    margin-top: 2rem;
  }
  .categorypageGrid {
    grid-template-columns: 1fr;
  }
  .categorypageImage{
    height: 14rem;
  }
  .categorypagePostCountDiv {
    padding: 0.1rem;
  }
}
