.videosectionContainer {
  background-color: #f84449;
  padding: 2rem;
  color: #ffffff;
  height: auto;
}

.videosectionHeading {
  border-left: 2px solid;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 1rem;
}

.videosectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.videosectionCard {
  background-color: #c6363a;
  color: white;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  height: 28rem;
}

.videosectionCard:hover {
  transform: translateY(-4px);
}

.videosectionImageWrapper {
  position: relative;
  width: 100%;
  height: auto;

  overflow: hidden;
}

.videosectionImage {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

.videosectionCardContent {
  padding: 1rem;
}

.videosectionResource {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.videosectionTitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.videosectionDescription {
  font-size: 0.8rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

@media (max-width: 1024px) {
  .videosectionGrid {
    grid-template-columns: 1fr 1fr;
  }

  .videosectionHeading {
    font-size: 1.1rem;
  }

  .videosectionCardContent {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .videosectionGrid {
    grid-template-columns: 1fr 1fr;
  }

  .videosectionHeading {
    font-size: 1rem;
  }
}

@media (max-width: 680px) {
  .videosectionCard {
    height: 25rem;
  }

  .videosectionImage {
    height: 10rem;
  }

  .videosectionGrid {
    grid-template-columns: 1fr;
  }

  .videosectionHeading {
    font-size: 0.9rem;
  }

  .videosectionCardContent {
    padding: 0.75rem;
  }
}
